<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BLOG</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Articulo <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Nuevo</a></li>
                        <li><a href="#">Ver todos</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">Articulos creados</h1>
    </div>
    <div class="panel-body">
        <table class="table">
            <thread>
                <tr>
                    <th>Titulo</th>
                    <th>Cuerpo</th>
                    <th>Autor</th>
                    <th>Fecha</th>
                    <th>Accion</th>
                </tr>
            </thread>
            <tbody>
            <tr th:each="articulo : ${articulos}">
                <td th:text="${articulo.titulo}"></td>
                <td th:text="${articulo.resumen}"></td>
                <td th:text="${articulo.autor.nombre}"></td>
                <td th:text="${articulo.fecha}"></td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default"
                                th:onclick="|window.location.href = '@{articulo/(id=${articulo.id})}'|">Visualizar
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<!-- Bootstrap core JavaScript -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="../js/clean-blog.min.js"></script>

</html>