<!DOCTYPE html>
<html  xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Error 404</title>
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    Error 404!.</h2>
                <div class="error-details">
                    La pagina solicitada no puede ser encontrada.
                </div>
                <div class="error-actions">
                    <a href="/login" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Ir a la pagina de login </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!-- Bootstrap core JavaScript -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="../js/clean-blog.min.js"></script>

</html>


