<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <!--<!link href="../css/main.css" th:href="@{css/main.css}" rel="stylesheet" media="screen"/>-->
</head>
<body>
<!-- Top content -->
<div id="container" class="container">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>Bienvenido a tu </strong>BLOG!</h1>
                    <div class="description">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Iniciar sesion en el sitio.</h3>
                            <p>Digite cuenta de usuario y contrasena para iniciar sesion:</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" action="/login" method="post" class="login-form">
                            <div class="form-group">
                                <label class="sr-only" for="usuario">Usuario: </label>
                                <input type="text" name="usuario" th:value="${username}" placeholder="Digite cuenta de usuario"
                                       class="form-username form-control" id="usuario">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="password">Contrasena: </label>
                                <input type="password" name="password" th:value="${password}" placeholder="Digite contrasena"
                                       class="form-password form-control" id="password">
                            </div>
                            <button type="submit" class="btn">Iniciar sesion!</button>
                            No tiene cuenta?<a href="/crearUsuario"> Registrarse!</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="body"></div>
    <div id="footer">
        <div class="container">

        </div>
    </div>
</div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var elements = document.getElementsByTagName("INPUT");
        for (var i = 0; i < elements.length; i++) {
            elements[i].oninvalid = function (e) {
                e.target.setCustomValidity("");
                if (!e.target.validity.valid) {
                    e.target.setCustomValidity("Campo no puede estar vacio.");
                }
            };
            elements[i].oninput = function (e) {
                e.target.setCustomValidity("");
            };
        }
    })
</script>

<!-- Bootstrap core JavaScript -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="../js/clean-blog.min.js"></script>

</html>
